*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 89%);
}

.container{
    text-align: center;
    
}
.container .heading{
    font-size: 30px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(190,207,227,1) 66%);
    
}




.box{
    margin-top: 20px;
    /* border: 2px solid black;
    height: 50px;
    width: 400px; */
    

}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;
}
form input{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}
form .add-btn{
    border: none;
    padding: 14px 28px;
    border-radius: 4px;
    font-size: 18px;
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    transition: 0.5s;
    color: black;            
    display: block;
    cursor: pointer;
    
}
form .add-btn:hover{
    background-position: right center; 
    color: blue;
    text-decoration: none;
   
}

.line{
  border-bottom: 1px solid black;
  height: 10px;
  width: 600px;
}

.list_item{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
ul{
    border: 1px solid lradial-gradient(circle, rgba(238,174,202,1) 0%, rgba(190,207,227,1) 66%);
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 10px;
    box-shadow: -11px 10px 45px 7px rgba(84,72,72,0.75);
-webkit-box-shadow: -11px 10px 45px 7px rgba(84,72,72,0.75);
-moz-box-shadow: -11px 10px 45px 7px rgba(84,72,72,0.75);
  
}
li{
    animation: fly-in 1s;
    list-style: none;
    border: 2px solid;
    border-color: -moz-linear-gradient(top, #e25050, #e61616);

    padding: 10px;
    text-align: start;
    /* justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 6px;



}

.action-buttons .first-btn {
    border: none;
    padding: 9px 3px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #32de84;
    
   
}
.first-btn:hover{
    background-color: #bfc4c1;
}

a:-webkit-any-link{
    text-decoration: none;
    color: black;
}


.action-buttons .second-btn {
    border: none;
    padding: 9px 3px;
    border-radius: 4px;
    font-size: 18px;
    background-color:  #f44336;
}
@keyframes fly-in {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.message {
    animation: fly-in 2s ;
    margin: 20px;

}
.todo-list {
    flex-grow: 1;
    padding: 20px;
}

.footer {
    margin-top: 40px;
    background: linear-gradient(90deg, rgba(36,0,16,1) 0%, rgba(121,78,9,0.9836309523809523) 100%, rgba(0,212,255,1) 100%);    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #e7e7e7;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 5px 0;
    color: #555;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

